<form name="createForm" ng-submit="create()" novalidate>
    <legend>Create post</legend>
    <div class="form-group" ng-class="{'has-error': createForm.$submitted && createForm.title.$invalid}">
        <label for="title">Title</label>
        <input id="title" type="text" name="title" ng-model="post.title" ng-maxlength="NEW_POST.TITLE_LEN"
               class="form-control" required/>
    </div>

    <div class="form-group" ng-class="{'has-error': createForm.$submitted && createForm.email.$invalid}">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" ng-model="post.email" class="form-control"
               ng-pattern="REG_EXP.EMAIL" required/>
    </div>

    <div class="form-group" ng-class="{'has-error': createForm.$submitted && createForm.date.$invalid}">
        <label>Date</label>

        <p class="input-group">
            <input type="text" name="date" class="form-control" datepicker-popup ng-model="post.expired_at"
                   is-open="opened" datepicker-popup="{{DP_CONFIG.format}}"
                   min-date="DP_CONFIG.min" close-text="Close" disabled required/>
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="opened = !opened">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </p>
    </div>
    <div class="form-group" ng-class="{'has-error': createForm.$submitted && createForm.post.$invalid}">
        <label for="post">Post</label>
        <textarea id="post" name="post" ng-model="post.text" ng-maxlength="NEW_POST.POST_LEN" class="form-control"
                  required></textarea>
    </div>
    <button class="btn btn-info pull-right" type="submit">Create</button>
</form>