<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-href="#/">Ciklum</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a ng-href="#/main/posts">View Posts</a></li>
                <li><a ng-href="#/main/info">Info</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 ckl-centered" ui-view="main"></div>
    </div>
</div>