<div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a class="btn btn-info btn-sm pull-right" ng-href="#/main/create_post">Create Post</a>
        </div>
    </div>
    <legend>Posts</legend>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>email</th>
                <th>created at</th>
                <th>expired at</th>
                <th>post</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="post in posts | orderBy : 'created_at':true | postsFilter : CURRENT_PAGE : ITEMS_PER_PAGE | limitTo: ITEMS_PER_PAGE track by $index">
                <td>{{$index + 1}}</td>
                <td>{{post.title}}</td>
                <td>{{post.email}}</td>
                <td>{{post.created_at | date}}</td>
                <td>{{post.expired_at | date}}</td>
                <td>{{post.text}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-show="posts.length">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <pagination class="pull-right" total-items="posts.length" items-per-page="ITEMS_PER_PAGE"
                        ng-model="CURRENT_PAGE"></pagination>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-10 col-sm-offset-10 col-md-offset-10 col-lg-offset-10">
                    <select class="form-control col-md-3 col-sm-3" ng-model="ITEMS_PER_PAGE"
                            ng-options="value for value in counts"></select>
                </div>
            </div>
        </div>
    </div>
</div>